* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

html {
  scroll-behavior: smooth;
  /* cuộn khi chọn đối tượng*/
  font-family: Arial, Helvetica, sans-serif;
}

/*
1.từ ngoài vào trong
2.từ trên xuống dưới
3.tổng quan đến chi tiết 
 */
/*
1. vị trí
2. kích thước
3. màu sắc
4. kiểu dáng 
 */
/* .main{
    height: 46px;
    background-color: black;

} */
.text-while {
  color: #fff !important;
}

#nav {
  display: inline-block;
}

#nav li {
  display: inline-block;
  position: relative;
}

#nav li a {
  color: #fff;
  text-decoration: none;
  /* Bỏ gạch chân li*/
  line-height: 46px;
  /*căn chỉnh chiều cao dòng*/
  padding: 0 24px;
}

#nav>li:hover>a,
#nav #subnav li:hover {
  color: black;
  background-color: #ccc;
  display: block;
}

#nav li:hover #subnav {
  display: block;

}

#nav #subnav {
  display: none;
  /*ẩn subnav*/
  min-width: 150px;
  position: absolute;
  /* top: 100%; */
  /* left: 0; */
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#nav #subnav a {
  color: black;
  padding: 0 16px;
  line-height: 38px;

}

#nav .ti-angle-down {
  font-size: 14px;
}


.header {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
}

.header .search-icon {
  float: right;
  font-size: 20px;
  color: #fff;
  line-height: 46px;
  padding: 0 21px;
}

.header .search-icon:hover {
  background-color: #f44336;
  cursor: pointer;
  /* con trỏ đổi thành bàn tay*/
}

.slider {
  position: relative;
  padding-top: 50%;
  background: url('../images/slider/slider1.jpg') top center/ cover no-repeat;
}

.text-content {
  position: absolute;
  bottom: 48px;
  color: #fff;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.slider .text_heading {
  font-weight: 500;
  font-size: 24px;
}

.slider .text_decription {
  font-size: 14px;
  margin-top: 25px;
}

.content {}

.content .content-section {
  width: 900px;
  padding: 64px;
  margin-left: auto;
  margin-right: auto;

}

.content .section-heading {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 4px;
  /* tạo khoản cách giữa các chữ cái*/

}

.content .section-sub-heading {
  margin-top: 20px;
  font-size: 15px;
  font-style: italic;
  opacity: 0.6;
  /*làm mờ*/
}

.content .about-text {
  margin-top: 20px;
  font-size: 15px;
  text-align: justify;
  /*căng đều 2 bên*/
  line-height: 1.4;
  /*khoảng cách giữa các dòng */
}

.content .section-heading,
.content .section-sub-heading {
  text-align: center;
  /* font-size: 15px; */
}

.content .band-list {
  overflow: hidden;
  /*nọi dung không bị tràn (hiệu quả với float)*/
}

.content .band-item {
  float: left;
  /*cho các div lên một hàng*/
  text-align: center;
  width: calc(100% / 3);
  /* căn đều các item*/


}

.content .name {
  margin-top: 20px;

}

.content .band-img {
  margin-top: 20px;
  width: 154px;
  border-radius: 4px;
}

.tour-dates {
  background-color: black;

}

.content .titkets {
  background-color: #fff;
  margin-top: 40px;
}

.titkets li {
  list-style: none;
  color: #757575;
  padding: 10px 14px;
  border-bottom: 1px solid #ddd;
  font-size: 15px;
}

.titkets .sold-out {
  color: #fff;
  background-color: #f44336;
  margin-left: 8px;
  padding: 3px 4px;
}

.titkets .quantity {
  float: right;
  color: #fff;
  background-color: #000;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  border-radius: 50%;
  /*tạo border hình tròn*/
  margin-top: -3px;
}

/* begin Places */
.place-list {
  margin-top: 36px;
  margin-left: -8px;
  margin-right: -8px;
  overflow: hidden;
  padding-bottom: 48px;
}

.place-item {
  float: left;
  width: calc(100% / 3);
  padding: 0 8px;
  /* overflow: hidden; */
}

.place-img {
  width: 100%;
  display: block;
}

.place-heading {
  font-size: 15px;
  font-weight: 550;
  /*làm mỏng độ dày của chữ*/
}

.place-img:hover {
  opacity: 0.6;
  /*làm mờ ảnh khi hover*/
}

.place-body {
  background-color: #fff;
  padding: 16px;
  font-size: 15px;
}

.place-time {
  margin-top: 15px;
  color: #757575;
}

.place-desc {
  margin-top: 15px;
  line-height: 1.4;
  /*tạo khoảng cách giữa các dòng*/
}

.place-titket-btn {
  text-decoration: none;
  color: #fff;
  background-color: #000;
  padding: 11px 18px;
  margin-top: 15px;
  display: inline-block;
}

.place-titket-btn:hover {
  background-color: #ccc;
  color: #000;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  /*chọn cột móc căn giữa*/
  align-items: center;
  /*căn giữa dọc*/
  justify-content: center;
  /*căn giữa ngang*/
  display: none;
}

.modal-container {
  position: relative;
  background-color: #fff;
  width: 900px;
  max-width: calc(100% - 32px);
  min-height: 200px;

}

.modal-header {
  background-color: #009688;
  min-height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #fff;
}

.modal-close {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  padding: 12px;
  cursor: pointer;
  /*chuyển đổi dạng trỏ chuột khi di vào*/

}

.modal-close:hover {
  background-color: #ccc;
}

.modal-body {
  padding: 16px;
}

.modal-label {
  display: block;
  font-size: 15px;
  margin-bottom: 12px;
  font-weight: 700;
}

.modal-input {
  font-size: 15px;
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 24px;

}

#buy-ticket {
  background-color: #009688;
  width: 100%;
  border: none;
  color: #fff;
  /* text-transform: uppercase; */
  /* viết hoa*/
  padding: 18px;

}

#buy-ticket:hover {
  background-color: #ccc;
  color: #000;
  cursor: pointer;
}

.modal-footer {
  padding: 16px;
  text-align: right;
  font-weight: 700;
}

.modal-footer a {
  color: #009688;
}

.contact-body li {
  font-size: 17px;
  /* font-style: ; */
  list-style: none;
  padding: 4px;
  /* display:block; */

}

.contact-container {
  padding: 40px 0px;
  margin-bottom: 40px;

}

.contact-left {
  display: inline-block;
}

.contact-body li i {

  margin-right: 6px;
}

.btn {
  font-size: 15px;
  border: 1px solid #ccc;
  padding: 10px;



}

.contact-btn {
  display: inline-block;
  float: right;
}

.name-mail-btn {
  margin-bottom: 6px;
}

.mess-btn .mess {
  display: block;
  width: 100%;

}

.sent {
  float: right;
  font-size: 15px;
  background-color: #000;
  color: #fff;
  padding: 8px 16px;
  margin-top: 16px;
  /* margin-top: 1px; */

}

.sent:hover {
  background-color: #ccc;
  color: #000;
  cursor: pointer;
}

.map-content .map {
  width: 100%;
  max-width: 100%;
}

.footer {
  text-align: center;
  margin: 64px 16px;
}

.socials-list {
  padding: 16px;
  font-size: 22px;
}

.footer .socials-list a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

.footer .socials-list a:hover {
  color: rgba(0, 0, 0, 0.9);
}

.footer .copy-right,
.w3 {
  color: rgba(0, 0, 0, 0.6);
}